body {
    margin: 0em;
}

#exercise_container {
    background-color: antiquewhite;
    position: relative;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exercise_title_wrapper{
    height: 3em;
    overflow-y: auto;
}

#exercise_title {
    margin: 0em;
    padding: 0em;
}

#exercise_area {
    margin: 0em;
    padding: 0.5em;
    height: 10em;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0.1em;
    border-color: lightgray;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'DejaVu Serif';
}

#exercise_area > div {
    display: flex;
    width: fit-content;
}

#code_area {
    margin: 0em;
    padding: 0em;
    color: blue;
}

#comment_area {
    margin: 0em;
    padding: 0em;
    color: forestgreen;
}

#word_list {
    color: blue;
    margin: 0em;
    padding: 0em;
    display: flex;
    min-height: 5em;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}

#word_list pre,
#navigation_area pre{
    margin: 0.1em 0.2em 0.1em 0.2em;
    padding: 0.5em;
    border-color: #dee2e6;
    border-style: solid;
    border-width: 0.1em;
    cursor: pointer;
}

#game_control_area {
    display: inline-block;
    margin: 1em 0em 0em 0em;
    padding: 0em;
}

#menu_area {
    margin: 1em 0em 0em 0em;
    float: right;
}

#show_menu {
    float: right;
    position: relative;
}

#menu {
    background-color: antiquewhite;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    position: absolute;
    margin-top: 2em;
    right: 0;
}

#menu > * {
    white-space: nowrap;
    padding: 0.5em;
    cursor: pointer;
    background-color: wheat;
}

#menu > *:hover, #menu > *:focus {
    background-color: antiquewhite;
}

#about_content {
    margin: auto;
    text-align: center;
    padding: 2em;
    background-color: antiquewhite;
    display: none;
}

#about_title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
}

#about_title > h3 {
    margin: 0em;
}

#close_about_content {
    float: right;
}

#navigation_area {
    margin: 2em;
    display: none;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

#navigation_area pre {
    margin-bottom: 1.5em;
    background-color: whitesmoke;
    font-size: larger;
}